<div class="freeShipping">
    <p>Get <b>FREE shipping on all orders</b> when you join <b>URBANTHREADS PREMIUM.</b> Exclusions/terms apply.</p>
</div>
<nav>
    <div class="left-side">
        <div class="logo">
            <a routerLink=""><img src="../../../assets/logos/dibujito-transformed.jpeg" alt=""></a>
        </div>
    </div>
    <div class="middle-side">
        <form action="">
            <input class="searchBar" type="search" name="search" placeholder="Search" id="">
        </form>
    </div>
    <div class="right-side">
        <a class="right-side__shoppingCart"><img src="../../../assets/logos/icons8-shopping-cart-24.png"></a>
        <a routerLink="/register" class="right-side__subscribe">Subscribe</a>
        <a routerLink="/login" class="right-side__signIn">Sign In</a>
    </div>
</nav>



