<div class="card-top container-fluid">
  <div class="container d-flex">
      <div style="text-align: center; margin: 5px 20px;" class="item">
          <a (click)="filter('')">
              <img style="width: 62px; margin-top: 5px;" src="../../../assets/filterIcons/allProducts.png" alt="">
              <h6>All products</h6>
          </a>
      </div>
      <div style="text-align: center; margin: 5px 20px;" class="item">
          <a (click)="filter('Shirts')">
              <img style="width: 62px; margin-top: 5px;" src="../../../assets/filterIcons/shirts.svg" alt="">
              <h6>Shirts</h6>
          </a>
      </div>
      <div style="text-align: center; margin: 5px 20px" class="item">
          <a (click)="filter('Pants')">
              <img style="width: 62px; margin-top: 5px;" src="../../../assets/filterIcons/pants.svg" alt="">
              <h6>Pants</h6>
          </a>
      </div>
      <div style="text-align: center; margin: 5px 20px;" class="item">
          <a (click)="filter('Sweatshirts')">
              <img style="width: 62px; margin-top: 5px;" src="../../../assets/filterIcons/sweatshirts.svg" alt="">
              <h6>Sweatshirts</h6>
          </a>
      </div>
      <div style="text-align: center; margin: 5px 20px;" class="item">
        <a (click)="filter('Dresses')">
          <img style="width: 62px; margin-top: 5px;" src="../../../assets/filterIcons/dresses.svg" alt="">
          <h6>Dresses</h6>
        </a>
      </div>
      <div style="text-align: center; margin: 5px 20px;" class="item">
        <a (click)="filter('Jackets')">
          <img style="width: 62px; margin-top: 5px;" src="../../../assets/filterIcons/jackets.svg" alt="">
          <h6>Jackets</h6>
        </a>
      </div>
      <div style="text-align: center; margin: 5px 20px;" class="item">
        <a (click)="filter('Skirts')">
          <img style="width: 62px; margin-top: 5px;" src="../../../assets/filterIcons/skirts.svg" alt="">
          <h6>Skirts</h6>
        </a>
      </div>
      <div style="text-align: center; margin: 5px 20px;" class="item">
        <a (click)="filter('Shorts')">
          <img style="width: 62px; margin-top: 5px;" src="../../../assets/filterIcons/shorts.svg" alt="">
          <h6>Shorts</h6>
        </a>
      </div>
      <div style="text-align: center; margin: 5px 20px;" class="item">
        <a (click)="filter('Tops')">
          <img style="width: 62px; margin-top: 5px;" src="../../../assets/filterIcons/top.png" alt="">
          <h6>Tops</h6>
        </a>
      </div>
      <div style="text-align: center; margin: 5px 20px;" class="item">
        <a (click)="filter('T-Shirts')">
          <img style="width: 62px; margin-top: 5px;" src="../../../assets/filterIcons/t-shirts.svg" alt="">
          <h6>T-Shirts</h6>
        </a>
      </div>
  </div>
</div>



<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center"
    >
      <div *ngFor="let product of filterCategory | filter:searchKey:'name'">
        <div class="col mb-5">
          <div class="card h-100">
            <!-- Product image-->
            <img
              class="card-img-top"
              src="{{product.image}}"
              alt="..."
            />
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">{{ product.name }}</h5>
                <!-- Product price-->
                $ {{ product.price }}
              </div>
            </div>
            <!-- <app-star-rating [rating]='rating'></app-star-rating> -->

            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <a (click)="addtoCart(product)" class="btn btn-outline-dark mt-auto"
                  >Add to Cart</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
