section {
    margin: 1.875rem 1.5625rem;
}

.form-group{
    flex-grow: .7;
}

.spacer {
    width: 1.875rem;
}

input {
    border-radius: 1.25rem;
}

h4 {
    margin: 1.25rem 0rem;
    border: none;
}

h5 {
    margin-top: 1.25rem;
}

.centerRow{
    display: flex;
}

.bottomRow {
    display: flex;
}

button {
    width: 12.5rem;
    margin: 1.25rem 0rem 1.25rem;
    border-radius: 1.25rem;
}

.line {
    margin-top: 30px;
    border-top: 4px solid  #80808063;
}

